GENERATE_SOURCEMAP=false
SKIP_PREFLIGHT_CHECK=true

# Set to "true" to use static mock data (no real API calls)
VITE_MOCK_API=true

VITE_API_URL=https://your-api-url.com
VITE_MEDIA_HOST=https://your-media-host.com

VITE_GOOGLE_CLIENT_ID=your-google-client-id
VITE_GOOGLE_CLIENT_SECRET=your-google-client-secret

VITE_APPLE_CLIENT_ID=your-apple-client-id
VITE_APPLE_CLIENT_SECRET=your-apple-client-secret
